 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 88px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin: 13px 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 236px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.2778em;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  font-size: 1.2778em;
}

.u-section-3 .u-text-3 {
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 40px auto 20px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  font-size: 1.2778em;
}.u-section-4 .u-sheet-1 {
  min-height: 13px;
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}.u-section-6 .u-sheet-1 {
  min-height: 13px;
}