 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 88px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 51px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 42px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 39px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin: 7px 6px 0;
  }
} .u-section-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(28, 74, 152, 1), rgba(28, 74, 152, 1)), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 146px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 2.2;
  margin-top: 20px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin: 14px auto 14px 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin: 6px 1px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 126px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-style: normal;
  font-size: 1.4375rem;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin: 12px 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 331px;
}

.u-section-5 .u-text-1 {
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 38px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 5px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 18px auto 30px;
}

.u-section-5 .u-icon-1 {
  font-size: 1.2778em;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.3125rem;
    width: auto;
    margin-top: 18px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-bottom: 18px;
  }
} .u-section-6 {
  --color-var: #eafdfc;
}

.u-section-6 .u-sheet-1 {
  min-height: 13px;
} .u-section-7 {
  --color-var: #eafdfc;
}

.u-section-7 .u-sheet-1 {
  min-height: 541px;
}

.u-section-7 .u-image-1 {
  width: 813px;
  height: 541px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 515px;
}

.u-section-8 .u-gallery-1 {
  width: 689px;
  height: 750px;
  grid-gap: 10px 10px;
  margin: 15px auto;
}

.u-section-8 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-8 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-8 .u-gallery-1 {
    width: 540px;
  }

  .u-section-8 .u-carousel-thumbnail-5 {
    width: 82px;
    height: 82px;
  }

  .u-section-8 .u-carousel-thumbnail-6 {
    width: 82px;
    height: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-8 .u-gallery-1 {
    height: 456px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-8 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-8 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-8 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }

  .u-section-8 .u-carousel-thumbnail-5 {
    width: 48px;
    height: 48px;
  }

  .u-section-8 .u-carousel-thumbnail-6 {
    width: 48px;
    height: 48px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 526px;
}

.u-section-9 .u-video-1 {
  height: 500px;
  margin: 13px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-9 .u-video-1 {
    height: 404px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-9 .u-video-1 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-9 .u-video-1 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
} .u-section-11 {
  --color-var: #eafdfc;
}

.u-section-11 .u-sheet-1 {
  min-height: 13px;
} .u-section-12 {
  --color-var: #eafdfc;
}

.u-section-12 .u-sheet-1 {
  min-height: 469px;
}

.u-section-12 .u-map-1 {
  width: 961px;
  height: 454px;
  margin: 8px auto;
}

@media (max-width: 1199px) {
  .u-section-12 .u-map-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-map-1 {
    width: 340px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 88px;
}

.u-section-13 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 51px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 42px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.25rem;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 39px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin: 7px 6px 0;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 69px;
}

.u-section-14 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-14 .u-text-1 {
    margin: 9px 0;
  }
}