 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(110, 79, 227, 0.8), rgba(110, 79, 227, 0.8)), url('images/JMV16-.gif');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  filter: none;
  background-image: none;
}

.u-section-2 .u-image-1 {
  min-height: 291px;
  background-image: url("images/HeaderBME.jpg");
  background-position: 50% 50%;
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 93px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 194px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.75rem;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin: 9px 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 80px;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-btn-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 79px;
}

.u-section-5 .u-text-1 {
  line-height: 1.1;
  font-size: 1.125rem;
  margin: 10px 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 127px;
}

.u-section-6 .u-countdown-1 {
  background-image: none;
  margin: 17px auto 0;
  padding: 0 40px;
}

.u-section-6 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-6 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-6 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-6 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-6 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-6 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 auto 17px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 0.875rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 10px;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 88px;
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin: 13px 6px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 525px;
}

.u-section-9 .u-list-1 {
  margin-top: 0;
  margin-bottom: 15px;
}

.u-section-9 .u-repeater-1 {
  min-height: 510px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  height: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  height: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  height: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-9 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 235px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    grid-gap: 10px 10px;
  }

  .u-section-9 .u-image-1 {
    height: 228px;
  }

  .u-section-9 .u-image-2 {
    height: 228px;
  }

  .u-section-9 .u-image-3 {
    height: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-9 .u-image-1 {
    height: 270px;
  }

  .u-section-9 .u-image-2 {
    height: 270px;
  }

  .u-section-9 .u-image-3 {
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-9 .u-image-1 {
    height: 483px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-9 .u-image-2 {
    height: 483px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-9 .u-image-3 {
    height: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-9 .u-image-1 {
    height: 330px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-9 .u-image-2 {
    height: 330px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-9 .u-image-3 {
    height: 288px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 525px;
}

.u-section-10 .u-list-1 {
  margin-top: 0;
  margin-bottom: 15px;
}

.u-section-10 .u-repeater-1 {
  min-height: 678px;
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: repeat(5, calc(20% - 8px));
  --gap: 10px;
}

.u-section-10 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  height: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  height: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-10 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-10 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  height: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-10 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-10 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-image-4 {
  height: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-10 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-10 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-image-5 {
  height: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-9 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-10 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-10 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: 235px;
}

.u-section-10 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 235px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-10 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    grid-gap: 10px 10px;
  }

  .u-section-10 .u-image-1 {
    height: 219px;
  }

  .u-section-10 .u-image-2 {
    height: 219px;
  }

  .u-section-10 .u-image-3 {
    height: 219px;
  }

  .u-section-10 .u-image-4 {
    height: 219px;
  }

  .u-section-10 .u-image-5 {
    height: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-10 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-10 .u-image-1 {
    height: 308px;
  }

  .u-section-10 .u-image-2 {
    height: 308px;
  }

  .u-section-10 .u-image-3 {
    height: 308px;
  }

  .u-section-10 .u-image-4 {
    height: 308px;
  }

  .u-section-10 .u-image-5 {
    height: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-10 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-10 .u-image-1 {
    height: 428px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-10 .u-image-2 {
    height: 483px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-10 .u-image-3 {
    height: 483px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-10 .u-image-4 {
    height: 428px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-right: 40px;
  }

  .u-section-10 .u-image-5 {
    height: 428px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-10 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-10 .u-image-1 {
    height: 548px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-10 .u-image-2 {
    height: 330px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-10 .u-image-3 {
    height: 330px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-10 .u-image-4 {
    height: 548px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-10 .u-image-5 {
    height: 548px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 88px;
}

.u-section-11 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 56px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin: 13px 6px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 489px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 469px;
}

.u-section-12 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-12 .u-text-1 {
  line-height: 2.2;
  font-size: 1.125rem;
  margin: 0 100px 0 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 185px auto 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-12 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 162px;
    padding: 10px 12px 10px 10px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-btn-1 {
    font-size: 1rem;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 359px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 67px;
}

.u-section-13 .u-text-1 {
  font-size: 1.875rem;
  margin: 18px auto;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    width: 488px;
    font-size: 1.625rem;
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 208px;
}

.u-section-14 .u-text-1 {
  font-size: 1.125rem;
  margin: 27px 0 41px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    animation-duration: 6000ms;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-14 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-14 .u-text-1 {
    margin-top: 14px;
    margin-bottom: 0;
  }
}