 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 88px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 68px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 14px;
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-bottom: 14px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 32px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  font-size: 1.125rem;
  margin: 20px 17px 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-table-1 {
  width: 888px;
  margin: 17px auto 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1rem;
}

.u-section-3 .u-table-body-1 {
  font-size: 1rem;
}

.u-section-3 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-8 {
  font-weight: 700;
}

.u-block-710c-23 {
  background-image: none;
}

.u-section-3 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 22px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-table-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 17px;
  }

  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 0.8125rem;
  }

  .u-section-3 .u-table-header-1 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-table-body-1 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 10px;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 459px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 10px;
  line-height: 2.2;
  font-size: 1.125rem;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-text-1 {
    margin-bottom: 20px;
    font-size: 0.875rem;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin: 17px auto 17px 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 68px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 46px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
    margin-top: 11px;
    margin-bottom: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 352px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 60px auto 20px 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 21px;
    font-size: 1rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 41px;
    margin-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 13px;
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    margin-bottom: 13px;
  }
}