 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 88px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.625rem;
    margin-top: 12px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 51px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 221px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 19px 1px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 29px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 14px;
    margin-right: 1px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 14px;
    margin-bottom: 14px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  margin: 13px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 19px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    animation-duration: 6000ms;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    margin-bottom: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
  }
}